/*
 * Logo animations
 * First child is my picture. Last is boomer, the explosion pill. Boomer should
 * appear above me at first then animate to the back like coasters
 */
.logo {
  position: relative;
  height: 100px;
  width: 200px;
  margin: 0 auto;
}
.logo img {
  position: absolute;
  animation-delay: 1s;
  animation-duration: 1s;
  transition-property: top, left;
  transition-duration: .5s;
}
.logo :first-child {
  left: 40%;
  top: 0;

  transform: translateX(-40%);
  z-index: 2;
  animation-name: move-over;
}
.logo :last-child {
  left: 50%;
  top: 0;
  transform: translate(-50%, 15%);
  z-index: 3;

  /* animation-fill-mode: forward overrides styles, so we have a separate
   * animation style to keep the z-index: 1 for Boomer so he stays under */
  animation-name: move-under, complete;
  animation-fill-mode: none, forwards;
}

@keyframes complete {
  100% {
    z-index: 1;
  }
}

@keyframes move-under {
  0% {
    left: 50%;
    top: 0;
  }
  50% {
    left: 35%;
    top: -35%;
  }
  100% {
    left: 50%;
    top: 0;
    z-index: 1;
  }
}

@keyframes move-over {
  0% {
    left: 40%;
    top: 0;
  }
  50% {
    left: 65%;
    top: 35%;
  }
  100% {
    left: 40%;
    top: 0;
  }
}

.logo:hover :first-child {
  top: -20%;
  left: 30%;
}
.logo:hover :last-child {
  top: 20%;
  left: 60%;
}
